.field{
    float:left;
	width: 440px;
	height: 440px;
	margin: 0 auto;
	background: url('image/grid.png');
	background-size: cover;
	position:relative;
    margin-right: 50px;
}
.box{
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:center;
    display: flex;
}
.ship{
    width: 40px;
	height: 40px;
    background: url('image/ships.png');
	position: relative;
	left: 40px;
	top: 40px;
}
.ship1{
    width: 120px;
    height: 40px;
	position: absolute;
    background-position: -200px 0px;
}
